{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Site name for Google Search -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Xintong Wang",
  "alternateName": "王昕桐",
  "url": "https://wang-xintong.github.io/"
}
</script>

<!-- Person information for search engines -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Xintong Wang",
  "alternateName": "王昕桐",
  "url": "https://wang-xintong.github.io/",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "University of Maryland, College Park"
  },
  "jobTitle": "Doctoral Candidate in Philosophy"
}
</script>

<!-- Custom favicon -->
<link rel="icon" type="image/x-icon" href="{{ base_path }}/images/favicon.ico">
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg">
<link rel="icon" type="image/png" sizes="96x96" href="{{ base_path }}/images/favicon-96x96.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon.png">
<link rel="manifest" href="{{ base_path }}/images/site.webmanifest">
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
